<% layout("/layouts/boilerplate") %>
<body>
  
    <!-- <form method="GET" action="/listing/new">
        <button>create new </button>
    </form> -->
    <div class="row row-cols-lg-3  row-cols-lg-2">
    <% for(let listing of allListings){ %>
     
    <div class="card" style="width: 18rem;">
      <a href="/listing/<%= listing._id  %>" ><img src="<%= listing.image %>" class="card-img-top" style="height: 18rem;" ></a>
        <div class="card-body">
          <h5 class="card-title"><%= listing.title %></h5>
         
          <p class="card-text">
            <!-- <%= listing.description %> <br /> -->
           
            &#8377;<%= listing.price.toLocaleString("en-IN") %>
        </p>
         
        </div>
      </div>
    
      <% } %>
    </div>
     <ul>
    <!-- <% for(let listing of allListings){ %>
         <li><a href="/listing/<%= listing._id %>"><%= listing.title %> </a> </li>
        
    <% } %>  -->
</ul> 
</body>


