<% layout("/layouts/boilerplate") %>
<body>
    <h3>details</h3>
    <div class="card">
        <img src="<%= listing.image %>" class="card-img-top"  style="height: 18rem;" >
    <ul>
        <li><%= listing.title %></li><br>
        <li><%= listing.description %></li><br>
        <li>&#8377;<%= listing.price.toLocaleString("en-IN") %></li><br>
        <li><%= listing.location %></li><br>
        <li><%= listing.country %></li><br>
    </ul>
</div>
    <a href="/listing/<%= listing._id %>/edit" class="btn btn-primary">Edit this listing</a>
    <br/>
    <br>
    <form method="POST" action="/listing/<%= listing._id %>?_method=DELETE">
        <button>Delete  this listing</button>
    </form>
</body>
